@tailwind base;
@tailwind components;
@tailwind utilities;

.obras .slick-track {
  gap: 10px;
  justify-content: center;
  display: flex;
}

.fade .slick-track {
  display: block;
}

.slick-slider {
  flex-direction: column !important;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
}

.slick-slide > div {
  width: 100% !important;
}

.slick-active > button {
  background: #fa8418;
}
